:root {
  --purple-color-1: darkorchid;
  --purple-color-2: plum;
  --gray-color: gainsboro;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  background-color: var(--gray-color);
  min-height: 100vh;
}

.container {
  display: grid;
  place-items: center;
  gap: 20px;
  padding: 10px;
}

h2 {
  color: var(--purple-color-1);
}

/* Table styles */

table {
  width: 95%;
  border: 2px solid var(--purple-color-1);
}

thead {
  background-color: var(--purple-color-2);
}
